<p>AJOUTER FORMATEUR</p>
<form >
 
    <input matInput type="text" placeholder="Nom" required>

    <input matInput type="text" placeholder="Preom" required><br>


    <input matInput type="email" placeholder="Email" required>

    

    <input matInput type="number" placeholder="Tel" required><br>

    <input matInput type="text" placeholder="Login" required>

    <input matInput type="password" placeholder="Mot de passe" required ><br>
    <button mat-raised-button color="primary">Ajouter</button>

 


</form>