<p>MODIFICATION</p>

<form >
 
    <input matInput type="text" placeholder="Nom" required>

    <input matInput type="text" placeholder="Preom" required><br>


    <input matInput type="email" placeholder="Email" required>

    <input matInput type="number" placeholder="Age" required><br>

    <input matInput type="number" placeholder="Tel" required>

    <input matInput type="text" placeholder="Genre" required><br>

    <input matInput type="password" placeholder="Mot de passe" required ><br>
    <button mat-raised-button color="primary">Modifier</button>

 


</form>

